// TODO: Add base styling from styleguide, add variables for sizes and colors

label
  display inline-block
  margin-bottom .5rem

.form-input
  display: block
  width: 100%
  height: 34px
  padding: 4px 10px
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 4px
  box-sizing: border-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus
    color: #495057
    background-color: #fff
    border-color: #80bdff
    outline: 0
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)

  // Placeholder
  &::placeholder
    color: #ccc
    // Override Firefox's unusual default opacity see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case we style them as disabled anyway.
  &:disabled,
  &[readonly]
    background-color: #ccc
    border-color: #999
    // iOS fix for unreadable disabled content see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1

  // Fix height on elements
  textarea&
  select[multiple]&, 
  select[size]&
    height auto

.form-input--file, 
.form-input--range
  display block
  width 100%

.form-tree 
  list-style none
  margin 0
  padding 0
  line-height inherit

  & &
    margin-left 18px
