// TODO: Add base styling from styleguide, add variables for sizes and colors

// FORM RESETS
// Stolen from normalize.css

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea
  font-family inherit /* 1 */
  font-size 100% /* 1 */
  line-height 1.15 /* 1 */
  margin 0 /* 2 */

// FORM RESET END

.ui-form-label
  display inline-block
  margin-bottom .5rem

.ui-form-input
  display block
  width 100%
  height 34px
  padding 4px 10px
  background-color #fff
  background-clip padding-box
  border 1px solid #ced4da
  border-radius 4px
  box-sizing border-box;
  transition border-color .15s ease-in-out, box-shadow .15s ease-in-out

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus
    color #495057
    background-color #fff
    border-color #80bdff
    outline 0
    box-shadow 0 0 0 0.2rem rgba(0,123,255,.25)

  // Placeholder
  &::placeholder
    color #ccc
    // Override Firefox's unusual default opacity see https//github.com/twbs/bootstrap/pull/11526.
    opacity 1

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case we style them as disabled anyway.
  &:disabled,
  &[readonly]
    background-color #ccc
    border-color #999
    // iOS fix for unreadable disabled content see https://github.com/twbs/bootstrap/issues/11655.
    opacity 1

  // Fix height on elements
  textarea&
  select[multiple]&
    height auto

.ui-form-check 
  position relative
  padding-left 20px
  margin-bottom 5px

.ui-form-check__input
  position absolute
  left 0
  top 50%
  transform translateY(-50%)

.ui-form-check__label
  display inline-block

.ui-form-tree 
  list-style none
  margin 0
  padding 0
  line-height inherit

  & &
    margin-left 20px 

.ui-form-range 
  appearance none
  display block
  width 100%
  height 5px
  background $sdfe-teal
  border-radius 3.5px

  &:hover
    cursor pointer

  &::-webkit-slider-thumb
    -webkit-appearance none /* Override default look */
    appearance none
    width 15px /* Set a specific slider handle width */
    height 15px /* Slider handle height */
    border-radius 50%
    background $sdfe-teal /* Green background */
    cursor pointer /* Cursor on hover */
    border none

  &::-moz-range-thumb
    width 15px /* Set a specific slider handle width */
    height 15px /* Slider handle height */
    border-radius 50%
    background $sdfe-teal /* Green background */
    cursor pointer /* Cursor on hover */
    border none
