.ui-card
  border $card-border-outer
  border-radius 14px
  background $card-bg
  min-width 300px

  h1 
    font-size $card-heading-size

.ui-card__wrapper
  border $card-border
  border-radius 9px
  overflow hidden

.ui-card__body
  padding 10px 15px

.ui-card__footer 
  background-color $card-bg-secondary
  border-top $card-border
  padding 10px 15px

.ui-card__tabs-nav
  display flex

.ui-card__tabs-btn
  button-reset()
  flex 1
  font-weight 700
  background-color $card-bg-secondary
  border-left $card-border
  border-bottom $card-border
  height 40px
  padding 10px
  color $text-body
  cursor pointer
  box-sizing border-box

  &:first-child 
    border-left none

  &.is-active
    background-color $card-bg;
    border-bottom-color $card-bg;
    color $link-color

.ui-card__tab-content
  display none

  &.is-active 
    display block