.ui-card
  border $card-border-outer
  border-radius $card-border-outer-radius

  h1 
    font-size $card-heading-size

.ui-card__inner
  border $card-border
  border-radius $card-border-radius
  background $card-bg
  overflow hidden

.ui-card__body
  padding 10px 15px

.ui-card__footer 
  background-color $card-bg-secondary
  border-top $card-border
  padding 10px 15px

// 
// Tabs component as nested card content
// 

.ui-card__body > .ui-tabs
  margin-bottom 5px

// 
// Tabs component as card navigation
// 

.ui-card__inner > .ui-tabs
  .ui-tabs__header
    padding 0

  .ui-tabs__nav 
    display flex
    border none

  .ui-tabs__btn
    flex 1

  .ui-tabs__body 
    border none


// 
// Accordion component as card navigation
// 

.ui-card__inner > .ui-accordion
  border none
