.content__default
  @import '../../src/styl/main.styl'

.custom
  margin: 0.85rem 0;

.example-pattern
  padding: 20px;
  background-color: #a4a3da;
  background-image: 
    linear-gradient(45deg, #bdbcef 25%, transparent 25%, transparent 75%, #bdbcef 75%, #bdbcef),
    linear-gradient(-45deg, #bdbcef 25%, transparent 25%, transparent 75%, #bdbcef 75%, #bdbcef);
  background-size: 12px 12px;