
//
// TEMP: SDFE from HIP
//  

$background-color = #F5F5F5
$label-default = #C5C5C5
$gray-one = #E1E1E1
$gray-two = #EBEBEB
$gray-three = #F0F0F0
$gray-subtitle = #B0B0B0
$background-color-opacity = rgba(245,245,245,0.95)
$sdfe-teal = #0097A7
$sdfe-green = #3B9CA7
$sdfe-black = #0D1313
$sdfe-blue = #1991EB
$fact-green = #6BB9B9
$sdfe-dark = #333333
$sdfe-gray = #595959
$sdfe-lightgray = #bfbfbf
$sdfe-border-color = #c3c3c3
$hip-title-color = #5EB247
$hip-tealgray = #e1eced
$huge-border-radius = 14px
$big-border-radius = 9px
$small-border-radius = 4px
$border = 1px $sdfe-border-color solid
$transparent-background = rgba(245,245,245,0.5)


//
// Colors
//  

$text-body = #333
$text-discreet = #595959

$link-color = #0097a7

$heading-color = #000

//
// Typography
//  

$h1-color = $heading-color
$h1-weight = 500
$h1-size = 2.813rem
$h1-line-height = 1.2

$h2-color = $heading-color
$h2-weight = 500
$h2-size = 2.813rem
$h2-line-height = 1.2

$h3-color = $text-body
$h3-weight = 500
$h3-size = 2.813rem
$h3-line-height = 1.2

$h4-color = $text-body
$h4-weight = 500
$h4-size = 1rem
$h4-line-height = 1.2

$h5-color = $text-body
$h5-weight = 500
$h5-size = 2.813rem
$h5-line-height = 1.2

$h6-color = $text-body
$h6-weight = 500
$h6-size = 2.813rem
$h6-line-height = 1.2

//
// Cards
//  

$card-bg = #fff
$card-bg-secondary = #f2f2f2
$card-border = 1px solid #c3c3c3
$card-border-outer = 5px solid rgba(#f5f5f5, 0.5)
$card-heading-size = $h4-size